/* styles.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('background.jpg') center/cover;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

#quote-container {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  background-image: URL("./text.jpg");
}

#quote {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 10px;
}

#author {
  font-size: 18px;
}

#jar-container {
  cursor: pointer;
}

#jar {
  width: 300px;
  transition: transform 0.5s ease-in-out;
}

#jar:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}
